body, div, span, img, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  &:focus {
    outline: none;
  }
}
body{
  color: #333;
  font-size: .5rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body{
  height: 100%;
  width: 100%;
  background-color: #efefef;
}
.back_img{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.margin{
  margin: 0 auto;
}
.hide{
    display: none;
}
.show, .onlyblock{
    display: block;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.b-line:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  -webkit-transform: scale(1,0.5);
  background: #e7e7e7;
}
.b-line,.relative{
  position: relative;
}
.t-line:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #e7e7e7;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
  visibility:hidden;
  height:0;
}
.clearfix{
  zoom:1;
}
.white{
  background: #fff;
}
.block {
  margin-top: 0.5rem;
  padding: 1rem;
  background: #fff;
  position: relative;
  display: block;
}
.user-gray {
  font-size: 0.5rem;
  color: #808080;
}
.rem-30 {
  font-size: 3rem;
}
.rem-18 {
  font-size: 1.8rem;
}
.rem-17 {
  font-size: 1.7rem;
}
.rem-16 {
  font-size: 1.6rem;
}
.rem-15 {
  font-size: 1.5rem;
}
.rem-14 {
  font-size: 1.4rem;
}
.rem-13 {
  font-size: 1.3rem;
}
.rem-12 {
  font-size: 1.2rem;
}
.rem-11 {
  font-size: 1.1rem;
}
.rem-10 {
  font-size: 1rem;
}
.rem-9 {
  font-size: 0.9rem;
}
.rem-85 {
  font-size: 0.85rem;
}
.rem-8 {
  font-size: 0.8rem;
}
.rem-7 {
  font-size: 0.7rem;
}
.rem-65 {
  font-size: .65rem;
}
.rem-6 {
  font-size: .6rem;
}
.rem-55 {
  font-size: .55rem;
}
.rem-5 {
  font-size: .5rem;
}
.rem-45 {
  font-size: .45rem;
}
.lh13 {
  line-height: 1.3rem;
}
.lh15 {
  line-height: 1.5rem;
}
.lh18 {
  line-height: 1.8rem;
}
.fw5{
  font-weight: 500;
}
.fw2 {
  font-weight: 200;
}
.p10{
  padding: 1rem;
}
.p25{
  padding: .25rem;
}
.p5{
  padding: .5rem;
}
.p75{
  padding: .75rem;
}
.pb10{
  padding-bottom: 1rem;
}
.pt10{
  padding-top: 1rem;
}
.pt5{
  padding-top: .5rem;
}
.paddingTop{
  padding-top: 1.95rem;
}
.pc3{
  padding: 0 0.3rem;
}
.pc5{
  padding: 0 0.5rem;
}
.pc75{
  padding: 0 0.75rem;
}
.pc150{
  padding: 0 1.5rem;
}
.pu3{
  padding: .3rem 0;
}
.pu5{
  padding: .5rem 0;
}
.pl5{
  padding-left: .5rem;
}
.m5 {
  margin: .5rem;
}
.mt5 {
  margin-top: .5rem;
}
.mt25 {
  margin-top: .25rem;
}
.mb5 {
  margin-bottom: .5rem;
}
.mu5 {
  margin:0.5rem auto;
}
.m25 {
  margin:0.25rem;
}
.red {
  color: #FF4B4A;
}
.tc{
  text-align: center;
}
.tl{
  text-align: left;
}
.tr{
  text-align: right;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
.wh100{
  width: 100%;
}
.wh70{
  width: 70%;
}
.content{
  margin-top: 1.95rem;
}
.b {
  width: 4px;
  height: 4px;
  overflow: hidden;
  line-height: none;
  font-size: 0;
  border-radius: 50%;
  text-indent: -9999em;
  background: #a1acb4;
  display: inline-block;
  margin-right: .4rem;
  vertical-align: middle;
}
.occupied {
  height: 2.5rem;
}